name: movie
version: 2.1.0+2
publish_to: none
description: A new Flutter project.
environment: 
  sdk: '>=2.17.0 <3.0.0'

dependencies: 
  cupertino_icons: ^1.0.2
  get: ^4.6.5

  salomon_bottom_bar: ^3.1.0
  dio: ^5.1.2
  cookie_jar: ^4.0.3
  dio_cookie_manager: ^3.0.0
  html: ^0.15.0
  flutter_cupertino_settings: ^0.5.0
  webview_flutter: ^2.1.1
  flappy_search_bar_ns: ^2.0.2
  xml2json: ^6.1.0
  modal_bottom_sheet: ^3.0.0-pre

  # https://github.com/peng8350/flutter_pulltorefresh/issues/588
  pull_to_refresh_flutter3: ^2.0.1

  # cupertino_list_tile: ^0.2.0
  cached_network_image: ^3.2.1
  chewie: ^1.5.0
  video_player: ^2.2.5
  path_provider: ^2.0.6
  # flutter_html: ^2.1.5
  clipboard: ^0.1.3
  wakelock: ^0.6.2
  desktop_webview_window: ^0.2.0
  bitsdojo_window:
    git:
      url: https://github.com/bitsdojo/bitsdojo_window
      path: bitsdojo_window
  url_launcher: ^6.1.11
  flutter_slidable: ^3.0.0

  waterfall_flow: ^3.0.2

  file_picker: ^5.2.10
  share_plus: ^4.0.5
  
  flutter: 
    sdk: flutter
  equatable: ^2.0.3
  isar: ^3.1.0+1
  isar_flutter_libs: ^3.1.0+1
  tuple: ^2.0.1
  flutter_easyloading: ^3.0.5
  awesome_dio_interceptor: ^1.0.0
  dio_cache_interceptor: ^3.4.2
  executor: ^2.2.3
  command_palette:
    # 上游的项目貌似没怎么更新了就自己维护了
    path: ./thirdparty/command_palette
    # git:
    #   url: https://github.com/d1y/command_palette
    #   branch: d1y


dev_dependencies:

  flutter_lints: ^1.0.0
  flutter_test: 
    sdk: flutter

  # flutter_launcher_name 与 flutter_launcher_icons 冲突
  # flutter_launcher_name:
  #   git:
  #     url: https://github.com/d1y/flutter_launcher_name

  flutter_launcher_icons: ^0.13.1

  # icons_launcher: ^2.0.4

  flutter_native_splash: ^2.3.0
  isar_generator: ^3.1.0+1
  build_runner: ^2.4.4
  # icons_launcher: ^1.1.7

# flutter pub run flutter_launcher_name:main
flutter_launcher_name:
  name: "yoyo"

# flutter pub run flutter_native_splash:create
flutter_native_splash:
  image: design/logo_trans.png
  color: "#FF5733"
  ios: true
  android: true

flutter: 
  uses-material-design: true

  assets:
    - assets/
    - assets/data/nsfw.html
    - assets/data/source_help.txt
    - assets/images/movie_default.png
    - assets/images/image_faild.png
    - assets/data/play_tips.txt
    - assets/images/github_logo.png
    - assets/images/error.png

##HERE

# flutter pub run icons_launcher:create
icons_launcher:
  image_path: 'design/logo.png'
  platforms:
    # android:
    #   enable: true
    # ios:
    #   enable: true
    macos:
      enable: true
      image_path: 'design/logo_round.png'
    windows:
      enable: true
    linux:
      enable: true


# flutter pub run flutter_launcher_icons:main
flutter_icons:
  android: "launcher_icon"
  ios: true
  image_path: design/logo_round.png
  image_path_macos: design/logo_round.png
  macos:
    generate: true
    image_path: design/logo_round.png